html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

section,
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

main {
  flex-direction: column;
}

section div {
  background: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
}

section span {
  display: flex;
}

section ul {
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  height: 200px;
}

section ul li {
  border: 1px solid darkblue;
  border-radius: 4px;
  background-color: tan;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}
